/*p{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
  color: rgb(7, 4, 13);
  font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
  background-color: rgb(97, 235, 191);
}
